/** Global variables */
/** Animations */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/** Common helpers */
.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.fa-left {
  float: left;
}
.fa-right {
  float: right;
}
.va-top {
  vertical-align: top;
}
.va-middle {
  vertical-align: middle;
}
.va-bottom {
  vertical-align: bottom;
}
.d-table {
  display: table !important;
}
.d-cell {
  display: table-cell;
}
.fullwidth {
  width: 100%;
}
.no-margin {
  margin: 0;
}
.text-uppercase {
  text-transform: uppercase;
}
/** Top level rules */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 70px 0 0;
}
a {
  outline: 0 none !important;
}
/** Layout styles (header, footer) */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/** Make our pages be full width and full height positioned absolutely
    so that the pages can overlap each other as they enter and leave */
.page {
  bottom: 0;
  padding-top: 200px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.page h1 {
  font-size: 60px;
}
.page a {
  margin-top: 50px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/** Animations */
.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888;
}
.ng-leave {
  animation: rotateFall 0.5s both ease-in;
  z-index: 9999;
}
.angular-google-map-container {
  height: 400px;
}
.ng-invalid.ng-dirty,
.ng-invalid.ng-touched.ng-empty,
.ng-submitted .ng-invalid {
  border-color: #FA787E;
}
.ng-valid.ng-dirty:not(.ng-empty) {
  border-color: #78FA89;
}
.required label::after {
  content: "*";
  color: #FA787E;
  margin-left: 2px;
}
