<div class="panel panel-default" ng-show="user.id">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://vk.com/images/camera_400.png" alt="" width="150">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{user.username}}</h4>
        <h5>{{user.name}}, {{user.company.name}}</h5>
        <p>
          <span class="glyphicon glyphicon-earphone"></span>
          <a href="tel:{{user.phone}}">{{user.phone}}</a><br>
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="mailto:{{user.email}}">{{user.email}}</a><br>
          <span class="glyphicon glyphicon-globe"></span>
          <a href="{{user.website}}" target="_blank">{{user.website}}</a><br>
          <span class="glyphicon glyphicon-map-marker"></span>
          <a href ng-click="showMap()">Show map</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="albums[0]">
  <div class="col-md-12">
    <h3>Albums</h3>
  </div>
  <div ng-repeat="album in albums" class="col-xs-4 col-md-2">
    <a href="#/albums/{{album.id}}" class="thumbnail">
      <img src="https://vk.com/images/camera_400.png" alt="" class="img-thumbnail">
      <span class="thumbnail-info">
        {{album.title}}<br>
      </span>
    </a>
  </div>
</div>

<div class="row" ng-show="posts[0]">
  <div class="col-md-12">
    <h3>Posts</h3>
  </div>
  <div class="list-group col-md-12">
    <a class="list-group-item" ng-repeat="post in posts" href="#/posts/{{post.id}}">
      <h3>{{post.title}}</h3>
      <p>
        {{post.body}}
      </p>
    </a>
  </div>
</div>
